# Dependency directories
node_modules/

# Build output
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/
*.lcov
.nyc_output/

# Environment variables
.env
.env.test
.env.production
.env.local

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# OS metadata
.DS_Store
Thumbs.db

# IDE configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?